



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #6a7dfe;
  /*color: -webkit-linear-gradient(left, #21d4fd, #b721ff);*/
  /*color: -o-linear-gradient(left, #21d4fd, #b721ff);*/
  /*color: -moz-linear-gradient(left, #21d4fd, #b721ff);*/
  /*color: linear-gradient(left, #21d4fd, #b721ff);*/
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 33px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

/*===========================================================
                          Name Field Input
=============================================================*/
.wrap-inputName {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 35px;
}

.inputName {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-inputName {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-inputName::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-inputName::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.inputName:focus + .focus-inputName::after {
  top: -15px;
}

.inputName:focus + .focus-inputName::before {
  width: 100%;
}

.has-val.inputName + .focus-inputName::after {
  top: -15px;
}

.has-val.inputName + .focus-inputName::before {
  width: 100%;
}
/*===========================================================
                        Name Field Ending
=============================================================*/

/*===========================================================
                          SSN Field Input
=============================================================*/
.wrap-inputSsn {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.inputSsn {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-inputSsn {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-inputSsn::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-inputSsn::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


/*===========================================================
                        SSNinputSsn Field Ending
=============================================================*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  /*color: -webkit-linear-gradient(left, #21d4fd, #b721ff);*/
  /*color: -o-linear-gradient(left, #21d4fd, #b721ff);*/
  /*color: -moz-linear-gradient(left, #21d4fd, #b721ff);*/
  /*color: linear-gradient(left, #21d4fd, #b721ff);*/
}

.btn-show-pass.active {
  color: #6a7dfe;
  /*color: -webkit-linear-gradient(left, #21d4fd, #b721ff);*/
  /*color: -o-linear-gradient(left, #21d4fd, #b721ff);*/
  /*color: -moz-linear-gradient(left, #21d4fd, #b721ff);*/
  /*color: linear-gradient(left, #21d4fd, #b721ff);*/
  }


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.logo{
  max-width: 15%;
}


/*=================================== Custom Code ==================================================*/

.validate-form .validate-input input {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.validate-form .validate-input label{
  position: absolute;
  top: 0;
  left: 5px;
  padding: 13px 0;
  pointer-events: none;
  transition: .5s;
}

/*.validate-form .validate-input input:focus ~ label,
.validate-form .validate-input input:valid ~ label{
  top: -20px;
}*/


.form-message{
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    padding-bottom: 15px;
    margin-top: -12px;
}

.no-border{
  border: 0;
}

.content-hidden{
  display: none;
}
.wrap-login100-nxtPage{
    margin-top: -20%;
    width: 40%;
}

.child-value{
  margin-left: 4%;
}

.parent-div{
  height: 27px;
}

.nxt-form-main{    
  border-top: 2px solid #e4e0e0;
  padding-top: 4%;
}

.custom-radio-text{
    margin: 0 1%;
}

.custom-radio-label{
    margin-right: 1%;
}

.custom-radio-group{
  max-width: 50%;
}

.custom-radio-group-header{
  margin-bottom: 1%;
}

.death-date{
    width: 30% !important;
    float: right;
    left: -50px;
    top: -5px;
    margin-right: 20%;
}
.marital-status{
  max-width: 100% !important;
}

.widow-text{
  max-width: 50%;
  height: 3px;
  padding-top: 2%;
}

/*#isHeatIncluded .classA{
  margin-bottom: 20px;
}*/
/*#isHeatIncluded label{
  top: 30px !important;
  left: 0;
}


#isHeatIncluded input:focus ~ label,
#isHeatIncluded input:valid ~ label{
  top: 50px !important;
}*/

.ownerBdayLabel{
  position: absolute;
  top: -30px;
  left: 7px;
}

#dateBlock input:focus,
#dateBlock input:valid{
  border: 1px solid rgba(0,0,0,.15);
}

.marriageDate{
  max-width: 40%;
  margin-top: -1%;
}

.ownerBdateContainer{
  margin-top: 10%;
  margin-bottom: 5%;
}

.container-submit-form-btn{
      flex-wrap: wrap;
    display: block;
    justify-content: center;
    padding-top: 13px;
    max-width: 60%;
    margin: 0 auto;
}

.input-radio-options{
  float: left;
  width: 11.5%;
}

.input-radio-options:nth-child(2){
  width: 10%;
}

#radio-input-label{
  margin-top: 50px;
}

#parent-container{
  float: left;
  width: 25%;
  padding-left: 2%;
  margin-bottom: 20px;
}
.clear-both{
  clear: both;
}

.show-page-boxing{
  margin-bottom: 20px;
}

.capitalize{
  text-transform: capitalize;
}

/*--------------------------------------------- Admin Page CSS--------------------------*/
#admin .wrap-login100{
  width: 80%;
}

#admin table{
  width: 80%;
}

#admin th,
#admin td{
  text-align: center;
  border-right: 2px solid darkgray;
}
#admin th{
  background: cornflowerblue;
  color: white;
  font-weight: 500;
}
#admin td{
  background: cornsilk;
}

#admin th:nth-child(1),
#admin td:nth-child(1){
  border-left: 2px solid darkgray;
}

#admin th:last-child,
#admin td:last-child{
  border-right: 2px solid darkgray;
}
a.tip {
  border-bottom: 1px dashed;
  text-decoration: none
}
a.tip:hover {
  cursor: help;
  position: relative
}
a.tip div {
  display: none
}
a.tip:hover div {
  border: #c0c0c0 1px dotted;
  padding: 5px 20px 5px 5px;
  display: block;
  z-index: 100;
  background: #000000 ;
  left: 0px;
  margin: 10px;
  width: 250px;
  position: absolute;
  top: 10px;
  text-decoration: none
}


/*------------------------Update CSS---------------------*/
#update-btn-wrap{
  width: 20%;
  float: right;
}

/*#efUpdate input:focus label,
#efUpdate input:valid label{
  top: -20px !important;
}*/
#efUpdate input{
  text-transform: capitalize;
}

#efUpdate .inputEmail-value{
  text-transform: lowercase;
}

#successMessage{
    background: #dff0d8;
    color: #3c763d;
    max-width: 45%;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    padding: 1%;
    display: none;
}
#unsuccessMessage{
    background: #f2dede;
    color: #a94442;
    max-width: 45%;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    padding: 1%;
    display: none;
}

body{
    background: #f2f2f2;
}

.error-message{
  background: #f2dede;
  color: #a94442;
  margin-bottom: 4%;
  padding-top: 15px;
}

.marriageDateHidden{
    display: none;
}

/*Child Data Style:*/

#childDataContainer div:nth-child(n){
    max-width: 25%;
    float: left;
}

#childDataContainer div:nth-child(1),
#childDataContainer div:nth-child(2),
#childDataContainer div:nth-child(3){
    margin-right: 20px;
}

#isSelfEmployee{
    clear: both;
}

#addImg,#removeImg{
    max-width: 30px;
    margin-top: 5px;
}
#childDataContainer{
    clear:both;
}

#rowNum{
    padding: 2% 1% 1%;
    font-size: 18px;
}

table{
    width: 100%;
    margin-bottom: 3.5%;
}

th{
    text-align: center;
    padding: 1% 0;
    border: 2px solid #313131;
    background: #e0e0ff;
}

td{
    text-align: center;
    padding: 1% 0;
    border: 2px solid #313131;
    background: ghostwhite;
}