RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{HTTP_REFERER} !^http://capitalurgentcareva.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://capitalurgentcareva.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://capitalurgentcareva.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://capitalurgentcareva.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cloudwavevapezone.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cloudwavevapezone.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cloudwavevapezone.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cloudwavevapezone.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hbctaxorg.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hbctaxorg.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://silicoud.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://silicoud.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://silicoud.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://silicoud.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sonicvapeusa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sonicvapeusa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sonicvapeusa.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sonicvapeusa.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://stonespringsgastro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://stonespringsgastro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://stonespringsgastro.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://stonespringsgastro.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://westnettech.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://westnettech.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://westnettech.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://westnettech.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wgastro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wgastro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wgastro.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wgastro.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.capitalurgentcareva.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.capitalurgentcareva.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.capitalurgentcareva.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.capitalurgentcareva.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cloudwavevapezone.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cloudwavevapezone.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cloudwavevapezone.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cloudwavevapezone.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hbctaxorg.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hbctaxorg.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.silicoud.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.silicoud.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.silicoud.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.silicoud.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sonicvapeusa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sonicvapeusa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sonicvapeusa.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sonicvapeusa.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.stonespringsgastro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.stonespringsgastro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.stonespringsgastro.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.stonespringsgastro.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.westnettech.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.westnettech.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.westnettech.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.westnettech.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wgastro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wgastro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wgastro.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wgastro.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://capitalurgentcareva.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://capitalurgentcareva.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://capitalurgentcareva.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://capitalurgentcareva.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cloudwavevapezone.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cloudwavevapezone.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cloudwavevapezone.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cloudwavevapezone.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hbctaxorg.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hbctaxorg.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://silicoud.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://silicoud.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://silicoud.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://silicoud.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sonicvapeusa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sonicvapeusa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sonicvapeusa.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sonicvapeusa.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://stonespringsgastro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://stonespringsgastro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://stonespringsgastro.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://stonespringsgastro.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://westnettech.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://westnettech.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://westnettech.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://westnettech.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wgastro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wgastro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wgastro.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wgastro.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.capitalurgentcareva.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.capitalurgentcareva.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.capitalurgentcareva.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.capitalurgentcareva.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cloudwavevapezone.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cloudwavevapezone.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cloudwavevapezone.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cloudwavevapezone.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hbctaxorg.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hbctaxorg.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.silicoud.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.silicoud.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.silicoud.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.silicoud.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sonicvapeusa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sonicvapeusa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sonicvapeusa.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sonicvapeusa.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.stonespringsgastro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.stonespringsgastro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.stonespringsgastro.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.stonespringsgastro.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.westnettech.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.westnettech.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.westnettech.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.westnettech.ppc.eba.mybluehost.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wgastro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wgastro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wgastro.ppc.eba.mybluehost.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wgastro.ppc.eba.mybluehost.me$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

